<div class="col-md-4">
  <h3>Contribute a Link</h3>
  <div class="panel panel-default">
    <div class="panel-body">
      <%= form_for @community_link do |f| %>
        <% if @community_link.errors.any? %>
          <div class="form-group">
            <% @community_link.errors.full_messages.each do |msg| %>
              <p><%= msg %></p>
            <% end %>
          </div>
        <% end %>
        <div class="form-group">
          <%= f.select(:channel_id, Channel.all.collect {|p| [ p.title, p.id ] }, { prompt: "Please select" }, class: "form-control") %>
        </div>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :link %>
          <%= f.text_field :link, class: 'form-control' %>
        </div>
        <%= f.submit class: 'btn btn-default' %>
      <% end %>
    </div>
  </div>
</div>
